.container img{
	width: 100px;
	height: 100px;
}

.container {
	width: 400px;
	height: auto;
	flex-wrap: wrap;
	display: flex;
	/*justify-content: center;
	align-items: center;
	flex-direction: column; */
	border-radius: 15px;
	border: 1px solid black;
}

.red {
	color: red;
  }